In [1]:
# Import Modules 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import warnings
warnings.filterwarnings('ignore')

print("The Libraries for this assignment is imported and we are good to go now ")

The Libraries for this assignment is imported and we are good to go now

In [3]:
# Phase 1 is Data Loading and understanding 

data = pd.read_csv('data/vehicles.csv')

print("Data loaded")
print('-'*50)
print("Data sneakpeek")
print(data.head(5))
print('-'*50)
print(f"Dataset shape : {data.shape}" )
print('-'*50)

Data loaded
--------------------------------------------------
Data sneakpeek
           id                  region  price  year manufacturer model  \
0  7222695916                prescott   6000   NaN          NaN   NaN
1  7218891961            fayetteville  11900   NaN          NaN   NaN
2  7221797935            florida keys  21000   NaN          NaN   NaN
3  7222270760  worcester / central MA   1500   NaN          NaN   NaN
4  7210384030              greensboro   4900   NaN          NaN   NaN

  condition cylinders fuel  odometer title_status transmission  VIN drive  \
0       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
1       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
2       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
3       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
4       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN

  size type paint_color state
0  NaN  NaN         NaN    az
1  NaN  NaN         NaN    ar
2  NaN  NaN         NaN    fl
3  NaN  NaN         NaN    ma
4  NaN  NaN         NaN    nc
--------------------------------------------------
Dataset shape : (426880, 18)
--------------------------------------------------

In [4]:
#We see alot of NAN so lets if data is missing values or not 
print(f"Missing data : {data.isnull().sum()[data.isnull().sum()>0]}")

print('-'*50)

print(f"Checking price range : {data['price'].min():,.0f} - {data['price'].max():,.0f}")

Missing data : year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
dtype: int64
--------------------------------------------------
Checking price range : 0 - 3,736,928,711

In [ ]:
#Data cleaning and preperation

df = data.copy() #storing it in a new variable so we dont mess the input data 

#removing invalid prices (0 or extremely high(outliers))
#only keeping prices btw 1 - 200k 

df = df[(df['price'] > 0) & (df['price']<200000)]

#removing rows with missing year, manufacer and odometer cause i think this is an important featuer
df = dropna(subset=['year', 'manufacturer','odometer'])

#Fill missing values for other feature
df['condition'] = df['condition'].fillna('unknown')
df['transmission'] = df['transmission'].fillna('unknown')
df['fuel'] = df['fuel'].fillna('gas')
df['drive'] = df['drive'].fillna('unknown')


#cleaning the cylinder column 
df['cylinders'] = df['cylinders'].str.extract('(\d+)').astype(float)
df['cylinders'] = df['cylinders'].fillna(df['cylinders'].median())


#creating the age feature because that will create an impact 
current_year = 2025
df['age'] = current_year - df['year']

#Removing bad years 
df['age'] = df[(df['age'] >= 0) & (df['age'] <=50 
                                  )]